*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);

}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

input, button {
  font-family: inherit;
}

main {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/bg-intro-mobile.png);
    background-color: var(--red);
}

.container {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.main-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.main-text-container h1 {
    font-size: 24px;
    color: white;
    text-align: center;
}

.main-text-container p {
    font-size: 16px;
    color: white;
    text-align: center;
}

.main-text-container button {
    width: 100%;
    height: 70px;
    background-color: var(--blue);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 8px 1px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0px 8px 1px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 8px 1px 0px rgba(0, 0, 0, 0.18);
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 1px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0px 8px 1px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 8px 1px 0px rgba(0, 0, 0, 0.18);
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container input {
    padding: 10px;
    border: 1px solid var(--grayish-blue);
    border-radius: 5px;
}

.form-container input:focus {
    border-color: var(--blue);
    outline: none;
}

.form-container input::placeholder {
    font-weight: bold;
    font-size: 12px;
}

.form-container button {
    height: 40px;
    background-color: var(--green);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 6px 0px 0px rgba(53, 184, 127);
    -webkit-box-shadow: 0px 6px 0px 0px rgba(53, 184, 127);
    -moz-box-shadow: 0px 6px 0px 0px rgba(53, 184, 127);
}
